body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    }

    h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }

    #container {
      width:1279px;
      margin:auto;
      margin-top:50px;
    }

    #form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }
    
    .hog-card{
      float:left;
      width:393px;
      height: 555px;
      background-color: pink;
      color: #000080;
      margin:15px;
      text-align: center;
    }
    .center-text {
      text-align: center;
    }